@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://www.meziantou.net/integrating-blazor-components-into-razor-pages-and-mvc-apps.htm">integrating Blazor components into Razor Pages and MVC apps</a>.</p>
    <p>Or about <a href="https://localcoder.org/blazor-server-js-file-not-found">blazor.server.js file not found</a>.</p>
</div>
